

.header {
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}



.left_section {
  display: flex;
  align-items: center;
}
.hamburger_menu {
  height: 24px;
  margin: 0 24px;
  cursor: pointer;
}
.youtube_logo {
  height: 20px;
  cursor: pointer; 
}



.middle_section {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 480px;
  margin: 0 30px 0 60px;
}

.search_bar {
  flex: 1;
  font-size: 16px;
  height: 36px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

  border: 1px solid rgb(219, 219, 219);
  padding-left: 12px;
  width: 0;
}
.search_bar::placeholder {
  color: rgb(161, 161, 161);
  font-size: 16px;
}

.search_button,
.voice_search,
.upload_container,
.app_container,
.notif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search_button {
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(192, 192, 192);

  width: 66px;
  height: 40px;
  margin: 0 10px 0 -1px;
  cursor: pointer;
}
.search_button .tooltip,
.voice_search .tooltip,
.upload_container .tooltip,
.app_container .tooltip,
.notif_container .tooltip {
  background-color: rgb(86, 86, 86);
  color: white;
  font-size: 13px;
  border-radius: 2px;

  position: absolute;
  bottom: -50px;
  opacity: 0;

  padding: 10px 8px 10px 8px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search_button:hover .tooltip,
.voice_search:hover .tooltip,
.upload_container:hover .tooltip,
.app_container:hover .tooltip,
.notif_container:hover .tooltip {
  opacity: 0.9;
}
.search_icon {
  height: 25px;
}
.voice_search {
  background-color: rgb(245, 245, 245);
  border-radius: 25px;
  border: none;

  width: 40px;
  height: 40px;
  cursor: pointer;
}
.voice_icon {
  height: 24px;
}



.right_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
}
.upload_icon,
.apps_icon,
.notifs_icon {
  height: 24px;
  cursor: pointer;
}
.notif_container {
  position: relative;
}
.notif_number {
  background-color: rgb(201, 0, 0);
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;

  position: absolute;
  right: -5px;
  top: -1px;
}
.my_channel {
  border-radius: 25px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
}